PORT=8861
ENVIRONMENT=development
BASE_URI=localhost:8861
IDAPI_CLIENT_ACCESS_TOKEN=
IDAPI_BASE_URL=https://idapi.code.dev-theguardian.com
DEFAULT_RETURN_URI=https://m.code.dev-theguardian.com
SIGN_IN_PAGE_URL=https://profile.code.dev-theguardian.com/signin
OAUTH_BASE_URL=https://oauth.code.dev-theguardian.com
STAGE=DEV
IS_HTTPS=false
APP_SECRET=
OKTA_ORG_URL=http://localhost:9000
OKTA_API_TOKEN=oktatoken
OKTA_CUSTOM_OAUTH_SERVER=oktaauthserverid
OKTA_CLIENT_ID=oktaclientid
OKTA_CLIENT_SECRET=oktaclientsecret
ENCRYPTION_SECRET_KEY=
CYPRESS_MAILOSAUR_API_KEY=
CYPRESS_MAILOSAUR_SERVER_ID=
REDIS_HOST=localhost
REDIS_PASSWORD=redis_password
REDIS_SSL_ON=false
RATE_LIMITER_CONFIG='{"enabled":true,"defaultBuckets":{"globalBucket":{"capacity":500,"addTokenMs":50},"ipBucket":{"capacity":100,"addTokenMs":50},"emailBucket":{"capacity":100,"addTokenMs":50},"oktaIdentifierBucket":{"capacity":100,"addTokenMs":50},"accessTokenBucket":{"capacity":4,"addTokenMs":5000}},"routeBuckets":{}}'
