name: Cypress Tests
permissions:
  # required by aws-actions/configure-aws-credentials
  id-token: write
  contents: read
on:
  push:
    branches:
      - main
  pull_request:
    types: ['review_requested']
  workflow_dispatch:
jobs:
  build:
    name: Build Gateway
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: latest
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      - name: Get pnpm cache directory path
        id: pnpm-cache-dir
        run: echo "PNPM_STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT
      - name: Get cypress cache directory path
        id: cypress-cache-dir
        run: echo "CYPRESS_BIN_PATH=$(pnpm dlx cypress cache path)" >> $GITHUB_OUTPUT
      - name: Cache pnpm modules and cypress binary
        uses: actions/cache@v3
        id: pnpm-cache
        with:
          path: |
            ${{ steps.pnpm-cache-dir.outputs.PNPM_STORE_PATH }}
            ${{ steps.cypress-cache-dir.outputs.CYPRESS_BIN_PATH }}
          key: ${{ runner.os }}-pnpm-cypress-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-cypress-
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Build project
        run: pnpm run build
      - name: 'Zip build'
        run: zip -r -q build.zip ./build
      - name: 'Upload build'
        uses: actions/upload-artifact@v3
        with:
          name: build
          path: build.zip
          retention-days: 1
  cypress-mocked:
    needs: build
    uses: ./.github/workflows/cypress-mocked.yml
    secrets: inherit
  cypress-mocked-okta:
    needs: build
    uses: ./.github/workflows/cypress-mocked-okta.yml
    secrets: inherit
  cypress-ete:
    needs: build
    uses: ./.github/workflows/cypress-ete.yml
    secrets: inherit
  cypress-ete-okta:
    needs: build
    uses: ./.github/workflows/cypress-ete-okta.yml
    secrets: inherit
